{% extends "header.html" %}


{% block page_header %}
  <div class="jumbotron">
    <h1 class="display-3">Journaling for entrepreneurs.</h1>

    <p class="lead">The Startup Journal is a note entering system that guides founders,
      creators, or anyone who wants to build something they are passionate about, on their
      journey to make a difference and avoid pitfalls along the way.</p>

    {% if user.is_authenticated %}
    <a class="btn btn-lg btn-primary" href="{% url 'journal_entry:entries' %}"
        role="button">My Journal &raquo;</a>
    {% else %}
    <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
        role="button">Register &raquo;</a>
    {% endif %}
  </div>
{% endblock page_header %}

{% block content %}

{% endblock content %}
